<div class="cinder">
  <div class="col-md-12 clearfix cinderPicker" id="cinderPicker">
    <%= f.fields_for :cinder, @deployment.cinder do |p| %>

      <%= check_box_f_non_inline(p, :backend_nfs,
                                 :checked_value   => 'true',
                                 :unchecked_value => 'false',
                                 :text            => "NFS")
      %>
      <div class="cinder_nfs_uri col-md-offset-1 hide">

        <%= text_f p, :nfs_uri, class: "cinder_nfs_uri",
                   label:              _(Staypuft::Deployment::CinderService::NfsUri::HUMAN),
                   help_inline:        _(Staypuft::Deployment::CinderService::NfsUri::HUMAN_AFTER) %>

      </div>

      <%= check_box_f_non_inline(p, :backend_lvm,
                                 :checked_value   => 'true',
                                 :unchecked_value => 'false',
                                 :text            => "LVM")
      %>

      <%= check_box_f_non_inline(p, :backend_ceph,
                                 :checked_value   => 'true',
                                 :unchecked_value => 'false',
                                 :text            => "Ceph")
      %>

      <%= check_box_f_non_inline(p, :backend_eqlx,
                                 :checked_value   => 'true',
                                 :unchecked_value => 'false',
                                 :text            => "EqualLogic")
      %>

    <%end%>
      <div class="cinder_equallogic col-md-offset-1 hide">
        <div class="cinder_equallogic_picker">
          <%= fields_for :eqlx, @deployment.cinder.eqlx do |e| %>
          <div id="eqlx" class="eqlx well">
          <%= text_field_tag e, :san_ip, class: "cinder_equallogic",
                     label:              _(Staypuft::Deployment::CinderService::SanIp::HUMAN) %>
          <%= text_field_tag e, :san_login, class: "cinder_equallogic",
                     label:              _(Staypuft::Deployment::CinderService::SanLogin::HUMAN) %>
          <%= text_field_tag e, :san_password, class: "cinder_equallogic",
                     label:              _(Staypuft::Deployment::CinderService::SanPassword::HUMAN) %>
          <%= text_field_tag e, :pool, class: "cinder_equallogic",
                     label:              _(Staypuft::Deployment::CinderService::EqlxPool::HUMAN) %>
          <%= text_field_tag e, :group_name, class: "cinder_equallogic",
                     label:              _(Staypuft::Deployment::CinderService::EqlxGroupName::HUMAN) %>
          </div>
        </div>
        <button type="button" class= "btn btn-primary btn-sm add_another_server"><%= _("Add Another Server") %></button>
    </div>
    <% end %>
  </div>
</div>

