<div class="cinder">
  <div class="col-md-12 clearfix cinderPicker well " id="cinderPicker">
    <%= f.fields_for :cinder, @deployment.cinder do |p| %>
      <div class="col-md-12">
        <%= label_tag(:cinderBackend, _(Staypuft::Deployment::CinderService::DriverBackend::HUMAN), class: "col-md-3") %>
        <% options_map = @deployment.cinder.backend_labels_for_layout.invert %>
        <%= select_tag(:cinderBackend, options_for_select(options_map, options_map.size), class: "col-md-4", include_blank: true) %>
      </div>

      <div class="cinder_nfs_uri col-md-offset-1 hide fields">
        <%= text_f p, :nfs_uri, class: "cinder_nfs_uri",
                   label:              _(Staypuft::Deployment::CinderService::NfsUri::HUMAN),
                   help_inline:        _(Staypuft::Deployment::CinderService::NfsUri::HUMAN_AFTER) %>

      </div>
      <div class="cinder_equallogic col-md-offset-1 hide fields">
        <%= text_f p, :san_ip, class: "cinder_equallogic",
                   label:              _(Staypuft::Deployment::CinderService::SanIp::HUMAN) %>
        <%= text_f p, :san_login, class: "cinder_equallogic",
                   label:              _(Staypuft::Deployment::CinderService::SanLogin::HUMAN) %>
        <%= text_f p, :san_password, class: "cinder_equallogic",
                   label:              _(Staypuft::Deployment::CinderService::SanPassword::HUMAN) %>
        <%= text_f p, :eqlx_pool, class: "cinder_equallogic",
                   label:              _(Staypuft::Deployment::CinderService::EqlxPool::HUMAN) %>
        <%= text_f p, :eqlx_group_name, class: "cinder_equallogic",
                   label:              _(Staypuft::Deployment::CinderService::EqlxGroupName::HUMAN) %>
      </div>
    <% end %>
  </div>
</div>
<button type="button" class= "btn btn-primary btn-sm add_another_server"><%= _("Add Another Server") %></button>
